provider_config:
 bms:
  domainsuffix: local
  ssh_user: ${SSH_USER}
  ssh_pwd:

instances:
 server1:
  ip: ${IP_VM_01}
  provider: bms
  roles:
     openstack: null
     analytics: null
     analytics_database: null
     config: null
     config_database: null
     control: null
     webui: null
 server2:
  ip: ${IP_VM_02}
  provider: bms
  roles:
     openstack: null
     analytics: null
     analytics_database: null
     config: null
     config_database: null
     control: null
     webui: null
 server3:
  ip: ${IP_VM_03}
  provider: bms
  roles:
     openstack: null
     analytics: null
     analytics_database: null
     config: null
     config_database: null
     control: null
     webui: null
 server4:
  ip: ${IP_VM_04}
  provider: bms
  roles:
     openstack_compute: null
     vrouter: null

global_configuration:
 REGISTRY_PRIVATE_INSECURE: True
 CONTAINER_REGISTRY: ${CONTAINER_REGISTRY}

contrail_configuration:
 CONTRAIL_VERSION: ${CONTRAIL_VERSION}
 CONTROLLER_NODES: ${IP_CONT_01},${IP_CONT_02},${IP_CONT_03}
 CONTROL_NODES: ${IP2_CONT_01},${IP2_CONT_02},${IP2_CONT_03}
 KEYSTONE_AUTH_URL_VERSION: "/v3"
 RABBITMQ_NODE_PORT: 5673
# AAA_MODE: cloud-admin
 PHYSICAL_INTERFACE: ${VROUTER_IF}
 VROUTER_GATEWAY: ${VROUTER_GW}
 CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 SSL_ENABLE: ${SSL_ENABLE}
 JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
 LOG_LEVEL: SYS_DEBUG

kolla_config:
 kolla_globals:
   kolla_internal_vip_address: ${IP_VIP}
   kolla_external_vip_address: ${OS_VIP}
#   contrail_api_interface_address: ${IP_CONT_01},${IP_CONT_02},${IP_CONT_03}
   enable_ironic: "no"
   enable_swift: "no"
 kolla_passwords:
   metadata_secret: c0ntrail123
   keystone_admin_password: password
