provider_config:
 bms:
  manage_etc_hosts: False
  domainsuffix: ${DOMAIN}
  ssh_user: ${SSH_USER}
  ssh_pwd:

instances:
 server1:
  ip: ${IP_VM_01}
  provider: bms
  roles:
    openstack: null
    analytics: null
    analytics_snmp: null
    analytics_alarm: null
    analytics_database: null
    config: null
    config_database: null
    control: null
    device_manager: null
    webui: null
 server2:
  ip: ${IP_VM_04}
  provider: bms
  roles:
    openstack_compute: null
    vrouter:
      AGENT_MODE: ${AGENT_MODE}
 server3:
  ip: ${IP_VM_05}
  provider: bms
  roles:
    openstack_compute: null
    vrouter:
      AGENT_MODE: ${AGENT_MODE}

global_configuration:
 REGISTRY_PRIVATE_INSECURE: True
 CONTAINER_REGISTRY: ${CONTAINER_REGISTRY}

contrail_configuration:
 CONTRAIL_CONTAINER_TAG: ${CONTRAIL_VERSION}
 OPENSTACK_VERSION: ${OPENSTACK_VERSION}
 CONTROLLER_NODES: ${CONTROLLER_NODES}
 CONTROL_NODES: ${CONTROL_NODES}
 VROUTER_GATEWAY: ${VROUTER_GW}
 CONFIG_DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 SSL_ENABLE: ${SSL_ENABLE}
 RABBITMQ_USE_SSL: ${SSL_ENABLE}
 CASSANDRA_SSL_ENABLE: ${SSL_ENABLE}
 JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
 LOG_LEVEL: SYS_DEBUG
 VROUTER_ENCRYPTION: FALSE
 RABBITMQ_USER: contrail
 RABBITMQ_PASSWORD: astrophytum
 SELFSIGNED_CERTS_WITH_IPS: ${SELFSIGNED_CERTS_WITH_IPS}

kolla_config:
 kolla_globals:
   enable_haproxy: "no"
   enable_ironic: "no"
   enable_swift: "no"
   nova_compute_virt_type: ${VIRT_TYPE}
   default_project_domain_name: "admin_domain"
   default_project_domain_id: "admin_domain"
   default_user_domain_name: "admin_domain"
   default_user_domain_id: "admin_domain"
 kolla_passwords:
   metadata_secret: c0ntrail123
   keystone_admin_password: password
