provider_config:
 bms:
   manage_etc_hosts: False
   domainsuffix: ${DOMAIN}
   ssh_user: ${SSH_USER}
   ssh_pwd:

instances:
  server1:
    ip: ${IP_VM_01}
    provider: bms
    roles:
      analytics: null
      analytics_snmp: null
      analytics_alarm: null
      analytics_database: null
      config: null
      config_database: null
      control: null
      device_manager: null
      webui: null
      k8s_master: null
      k8s_node: null
      kubemanager: null
      vrouter:
        AGENT_MODE: ${AGENT_MODE}

global_configuration:
 REGISTRY_PRIVATE_INSECURE: True
 CONTAINER_REGISTRY: ${CONTAINER_REGISTRY}
 K8S_VERSION: 1.12.7

contrail_configuration:
 CONTRAIL_CONTAINER_TAG: ${CONTRAIL_VERSION}
 CONTROLLER_NODES: ${CONTROLLER_NODES}
 CONFIG_DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 SSL_ENABLE: ${SSL_ENABLE}
 RABBITMQ_USE_SSL: ${SSL_ENABLE}
 CASSANDRA_SSL_ENABLE: ${SSL_ENABLE}
 JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
 LOG_LEVEL: SYS_DEBUG
 CLOUD_ORCHESTRATOR: kubernetes
 VROUTER_ENCRYPTION: FALSE
 SELFSIGNED_CERTS_WITH_IPS: ${SELFSIGNED_CERTS_WITH_IPS}
