provider_config:
 bms:
   domainsuffix: local
   ssh_user: ${SSH_USER}
   ssh_pwd:

instances:
  server1:
    ip: ${IP_CONT_01}
    provider: bms
    roles:
      analytics: null
      analytics_database: null
      config: null
      config_database: null
      control: null
      webui: null
      k8s_master: null
      kubemanager: null
  server2:
    ip: ${IP_CONT_02}
    provider: bms
    roles:
      analytics: null
      analytics_database: null
      config: null
      config_database: null
      control: null
      webui: null
      k8s_master: null
      kubemanager: null
  server3:
    ip: ${IP_CONT_03}
    provider: bms
    roles:
      analytics: null
      analytics_database: null
      config: null
      config_database: null
      control: null
      webui: null
      k8s_master: null
      kubemanager: null
  server4:
    ip: ${IP_COMP_01}
    provider: bms
    roles:
      k8s_node: null
      vrouter: null
  server5:
    ip: ${IP_COMP_02}
    provider: bms
    roles:
      k8s_node: null
      vrouter: null

global_configuration:
 REGISTRY_PRIVATE_INSECURE: True
 CONTAINER_REGISTRY: ${CONTAINER_REGISTRY}
 K8S_VERSION: 1.11.0

contrail_configuration:
 CONTRAIL_VERSION: ${CONTRAIL_VERSION}
 CONFIG_DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "2"
 JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
 LOG_LEVEL: SYS_DEBUG
 CLOUD_ORCHESTRATOR: kubernetes
 AGENT_MODE: ${AGENT_MODE}
