# Deployment of OpenStack and Contrail in Amazon environment.
# 2 nova compute nodes is allocated.
# nova-cloud-controller, glance, keystone, openstack-dashboard and mysql
# should be placed separately because they rewrite haproxy configuration

series: %SERIES%
services:
  ntp:
    charm: "cs:%SERIES%/ntp"
  rabbitmq-server:
    charm: "cs:%SERIES%/rabbitmq-server"
    num_units: 1
    to:
      - "0"
  mysql:
    charm: "cs:%SERIES%/percona-cluster"
    num_units: 1
    options:
      root-password: "%PASSWORD%"
      max-connections: 1500
    to:
      - "0"
  openstack-dashboard:
    charm: "cs:%SERIES%/openstack-dashboard"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
    expose: true
    to:
      - "0"
  nova-cloud-controller:
    charm: "cs:%SERIES%/nova-cloud-controller"
    num_units: 1
    options:
      console-access-protocol: "novnc"
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
      network-manager: "Neutron"
    expose: true
    to:
      - "3"
  nova-compute:
    charm: "cs:%SERIES%/nova-compute"
    num_units: 2
    options:
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
      virt-type: "qemu"
      enable-resize: "true"
      enable-live-migration: "true"
      migration-auth-type: "ssh"
    to:
      - "1"
      - "2"
  glance:
    charm: "cs:%SERIES%/glance"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
    expose: true
    to:
      - "1"
  keystone:
    charm: "cs:%SERIES%/keystone"
    num_units: 1
    options:
      admin-password: "%PASSWORD%"
      admin-role: "admin"
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
    expose: true
    to:
      - "2"
  neutron-api:
    charm: "cs:%SERIES%/neutron-api"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "%OPENSTACK_ORIGIN%"
      manage-neutron-plugin-legacy-mode: false
      neutron-security-groups: "true"
    expose: true
    to:
      - "4"

  contrail-keystone-auth:
    charm: "%JUJU_REPO%/contrail-keystone-auth"
    series: %SERIES%
    num_units: 1
    to:
      - "5"
  contrail-controller:
    charm: "%JUJU_REPO%/contrail-controller"
    series: %SERIES%
    num_units: 1
    expose: true
    to:
      - "5"
  contrail-analyticsdb:
    charm: "%JUJU_REPO%/contrail-analyticsdb"
    series: %SERIES%
    num_units: 1
    expose: true
    to:
      - "5"
  contrail-analytics:
    charm: "%JUJU_REPO%/contrail-analytics"
    series: %SERIES%
    num_units: 1
    expose: true
    to:
      - "5"
  contrail-openstack:
    charm: "%JUJU_REPO%/contrail-openstack"
    series: %SERIES%
    options:
      install-sources: "deb http://%REPO_IP%/ubuntu trusty main"
      install-keys: |
        - |
%REPO_KEY%
  contrail-agent:
    charm: "%JUJU_REPO%/contrail-agent"
    series: %SERIES%
    options:
      install-sources: "deb http://%REPO_IP%/ubuntu trusty main"
      install-keys: |
        - |
%REPO_KEY%


relations:
  # openstack
  - [ "nova-cloud-controller", "mysql" ]
  - [ "nova-compute:shared-db", "mysql:shared-db" ]
  - [ "keystone", "mysql" ]
  - [ "glance", "mysql" ]
  - [ "glance", "keystone" ]
  - [ "nova-cloud-controller", "rabbitmq-server" ]
  - [ "nova-cloud-controller", "keystone" ]
  - [ "nova-cloud-controller", "glance" ]
  - [ "nova-compute", "nova-cloud-controller" ]
  - [ "nova-compute:amqp", "rabbitmq-server:amqp" ]
  - [ "nova-compute", "glance" ]
  - [ "openstack-dashboard", "keystone" ]

  - [ "neutron-api", "mysql" ]
  - [ "neutron-api", "rabbitmq-server" ]
  - [ "neutron-api", "nova-cloud-controller" ]
  - [ "neutron-api", "keystone" ]

  - [ "contrail-controller", "ntp" ]
  - [ "nova-compute", "ntp" ]

  #contrail
  - [ "contrail-keystone-auth", "keystone" ]
  - [ "contrail-controller", "contrail-keystone-auth" ]
  - [ "contrail-analytics", "contrail-analyticsdb" ]
  - [ "contrail-controller", "contrail-analytics" ]
  - [ "contrail-controller", "contrail-analyticsdb" ]
  - [ "contrail-openstack", "nova-compute" ]
  - [ "contrail-openstack", "neutron-api" ]
  - [ "contrail-openstack", "contrail-controller" ]
  - [ "contrail-agent:juju-info", "nova-compute:juju-info" ]
  - [ "contrail-agent", "contrail-controller"]

machines:
  "0":
    series: %SERIES%
    constraints: mem=8G cores=2 root-disk=40G
  "1":
    series: %SERIES%
    constraints: mem=7G cores=4 root-disk=40G
  "2":
    series: %SERIES%
    constraints: mem=7G cores=4 root-disk=40G
  "3":
    series: %SERIES%
    constraints: mem=8G cores=2 root-disk=40G
  "4":
    series: %SERIES%
    constraints: mem=8G cores=2 root-disk=40G
  "5":
    series: %SERIES%
    constraints: mem=15G cores=2 root-disk=300G
